/* style.scss */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* _variables.scss */
/* Font Families */
/* Font Sizes */
/* Responsive Break Points */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

textarea, input, select {
  outline: none; }

.clear-fix:after {
  display: block;
  clear: both;
  content: ""; }

a, a:visited {
  text-decoration: none;
  color: inherit; }

b {
  font-weight: bold; }

html, body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Helvetica", sans-serif;
  line-height: 1.5;
  color: #323232;
  min-width: 1024px; }

header {
  font-family: "Oswald";
  font-size: 21px;
  color: #40b9ff;
  text-transform: uppercase;
  padding: 12px 16px; }

.adfin-logo {
  width: 120px;
  height: 24px;
  background: url(../img/logo.svg) no-repeat;
  margin-bottom: 8px; }

nav {
  position: fixed;
  left: 16px;
  top: 140px; }
  nav .nav__item {
    display: block;
    color: #c7c7c7;
    font-size: 16px;
    margin-bottom: 16px; }
    nav .nav__item:before {
      display: inline-block;
      margin-right: 4px;
      content: "1";
      height: 20px;
      width: 20px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #c7c7c7; }
    nav .nav__item:hover {
      color: #40b9ff; }
      nav .nav__item:hover:before {
        border-color: #40b9ff; }
  nav .nav__item:nth-child(1):before {
    content: "1"; }
  nav .nav__item:nth-child(2):before {
    content: "2"; }
  nav .nav__item:nth-child(3):before {
    content: "3"; }
  nav .nav__item:nth-child(4):before {
    content: "4"; }
  nav .nav__item:nth-child(5):before {
    content: "5"; }
  nav .nav__item:nth-child(6):before {
    content: "6"; }
  nav .nav__item:nth-child(7):before {
    content: "7"; }
  nav .nav__item:nth-child(8):before {
    content: "8"; }
  nav .nav__item:nth-child(9):before {
    content: "9"; }
  nav .nav__item:nth-child(10):before {
    content: "10"; }

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 240px; }

section {
  padding: 48px 0;
  max-width: 800px; }

h1 {
  font-size: 50px;
  font-family: "Oswald";
  text-transform: uppercase;
  color: #40b9ff;
  margin-bottom: 32px;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 16px; }

.logos__img {
  width: 100%; }

.download-btn {
  display: block;
  font-family: "Helvetica";
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
  height: 32px;
  padding: 0 16px;
  line-height: 32px;
  border-radius: 32px;
  border: 1px solid #40b9ff;
  position: absolute;
  right: 0;
  bottom: 28px; }

.flex-wrap {
  display: flex; }

.colors__column {
  flex-grow: 1; }

.colors__text {
  flex-grow: 2;
  width: 50%; }
  .colors__text p {
    margin-bottom: 16px; }

.color {
  height: 96px;
  padding-left: 16px;
  padding-top: 4px;
  text-transform: uppercase;
  font-weight: bold;
  border-left: 16px solid #2a2b69; }
  .color.logo-secondary {
    border-left-color: #62b6e7; }
  .color.blue1 {
    border-left-color: #40b9ff; }
  .color.blue2 {
    border-left-color: #00a2ff; }
  .color.blue3 {
    border-left-color: #108adf; }
  .color.blue4 {
    border-left-color: #2071bf; }
  .color.blue5 {
    border-left-color: #3059a0; }
  .color.blue6 {
    border-left-color: #404180; }
  .color.gray1 {
    border-left-color: #f5f5f5; }
  .color.gray2 {
    border-left-color: #e2e2e2; }
  .color.gray3 {
    border-left-color: #c7c7c7; }
  .color.gray4 {
    border-left-color: #868686; }
  .color.gray5 {
    border-left-color: #323232; }

.color__val {
  color: #868686;
  font-size: 12px;
  padding-top: 4px;
  font-weight: normal; }
  .color__val span {
    display: block; }

.type__block {
  margin-bottom: 32px; }

h3 {
  font-weight: bold;
  color: #868686;
  margin: 8px 0; }

.email__block {
  font-size: 13px;
  line-height: 1.4; }

/*# sourceMappingURL=styles.css.map */
